<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= id %>，<%= name %></h1>
    <p>Welcome to Tamkang Uviversity</p>
  </body>
</html>
